body{
    height: 800px;
  }
header{  
    display: flex;
    justify-content: space-between;
    background-color: #b3e6ff;
    height:50px;
   }
.navbar a{
       text-decoration: none;
       padding: 5px 12px;
       font-size: larger;
      font-style: italic;
       color: #990099;
   }
.dropdown-link{  
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;  
}
.dropdown-link a{   
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block; 
}
.dropdown:hover .dropdown-link{
       display: block;
}
.dropdown{
       display: inline-block;
       position: relative;  
}
.dropbn{
       color: #990099;
       padding: 5px 12px;
       font-size: 15px;
       border: none;
       background-color: #b3e6ff;;
       font-style: italic;
       font-size: larger;
}
input{
       width: 300px;
       height: 20px;
       text-align: center;
       margin-top: 5px;
       border-radius: 5px soild black;
}
i{  
     position: relative;
     margin-left: 340px;
     margin-top: 10px;
}
.user i{  
       display: flex;
       margin-right: 30px;
}

h2{  
    font-size: var(--font-size-h2);
    line-height: 0.5em;
}
table{  
    border-collapse: collapse;
    inline-size: 100%;
}
tbody {  
    color: #b4b4b4;
}
td{  
    padding-block: 0.125em;
}
tfoot{  
    border-top: 1px solid #b4b4b4;
}
.align{  
    display: grid;
    place-items: center;
}
.row{  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 16px;
}
.col-50{ 
    -ms-flex: 25px;
    flex: 25PX;
}
.col-75{ 
    -ms-flex:"20px"; 
     flex: 20PX;
}
.col-50,
.col-75{  
    padding:16px;
}
.container{  
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
input[type=text]{  
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 10px;
}
input[type=number]{  
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 10px;
}
label{  
    margin-bottom: 2px;
    display: block;
}
.icon-container{  
    margin-bottom: 10px;
    padding: 7px ;
    justify-content: space-evenly;
}
.btn{  
    background-color: #04aa6d;
    color: white;
    padding: 25px;
    margin: 10px ;
    border: none;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    margin-left: 300PX;
    margin-top: 35px;
}
.btn:hover{  
    background-color: #45a049;
    box-sizing: 17PX;
    margin-top: 35px;
}
.ca{  
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    background-color: gray;
    padding: 100px;
    font-family: 'Poppins', sans-serif;
}
.cs{   
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.ac{  
    display: flex;
    flex-direction: column;
    margin-left: 250px;

} 
.fa-solid{ 
    display: flex; 
    flex-direction: row;
    color: blue;
    margin-left: 10px;
}
