body{
    height: 800px;
}
header{  
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    height:50px;
   }
.navbar a{
       text-decoration: none;
       padding: 5px 12px;
       font-size: larger;
       font-style: italic;
       color: rgb(187, 92, 231);
   }
.dropdown-link{  
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;  
}
.dropdown-link a{   
       color: black;
       padding: 12px 16px;
       text-decoration: none;
       display: block; 
}
.dropdown:hover .dropdown-link{
       display: block;
}
.dropdown{
       display: inline-block;
       position: relative;  
}
.dropbn{
       color: rgb(187, 92, 231);
       padding: 5px 12px;
       font-size: 15px;
       border: none;
       background-color:aqua;
       font-style: italic;
       font-size: larger;
}
input{
       width: 300px;
       height: 20px;
       text-align: center;
       margin-top: 5px;
       border-radius: 5px soild black;
}
i{  
     position: relative;
     margin-left: 340px;
     margin-top: 10px;
}
.user i{  
       display: flex;
       margin-right: 30px;
}
fieldset{  
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: blueviolet;
    font-style: italic;
    font-size: x-large;
    padding: 50px;
    background-color: rgb(105, 190, 119); 
    border-radius: 5px; 
    margin-left: 29%;
    margin-top: 10px;
    width: 500px;
    height: 800px;
}
h1{  
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    bottom: 330px;
    margin-left: 30%;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(244, 10, 197);
}
.container1{  
    box-sizing: 55px;
    height: 700px;
    position: relative;
    bottom: 247px;
}
main img{
    display: flex; 
    flex-direction: row; 
    height: 500px;
    width: 1470px;
}
.left1 img{  
    height: 300px;
    width: 400px;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 50px;
}
.right1{  
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-bottom: 300px;
}
h2{  
    display: flex;
    flex-direction: row;
    text-align: center;
    bottom: 320px;
}
.right1 ul{ 
   display: flex;
   flex-direction: column;
   justify-content: space-between
}
.right1 ul li{  
    position: relative;
    font-size: x-large;
    font-style: inherit;
    justify-content: space-between;
    bottom: 250px;
    margin-left: 300px;
    padding: 10px 20px;
}
.bn{  
    display: flex;
    flex-direction: row; 
}
footer{
    background-color: lightslategray; 
    border: 2px solid black;
    box-sizing: 200px;
}
.fa-solid{ 
    display: flex; 
    flex-direction: row;
    color: blue;
    margin-left: 300px;
}
.cact{  
   display: flex; 
   flex-direction: row;

}
.fa-brands{
    display: flex;
    color: blue;
    flex-direction: column;

}
.cpany{  
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
    bottom: 500px;
}
